[submodule "roles/ansible-role-mysql"]
	path = roles/ansible-role-mysql
	url = git@github.com:geerlingguy/ansible-role-mysql.git
[submodule "roles/ansible-role-nodejs"]
	path = roles/ansible-role-nodejs
	url = git@github.com:geerlingguy/ansible-role-nodejs.git
[submodule "roles/ansible-security-keys"]
	path = roles/ansible-security-keys
	url = git@github.com:nunogrl/ansible-security-keys.git
