[defaults]
# allow_world_readable_tmpfiles=true
host_key_checking = False
inventory = ./staging.yaml

# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
